<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bloggy.css"}}" />
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div id="fb-root"></div>
    {{> widgets/subscribe-banner}}
    <header id="global-header" class="global-header navbar">
      {{navigation}}
    </header>
    <main role="main">
      <div class="page-wrapper">
        {{{body}}}
        <div class="clearfix"></div>
      </div>
    </main>
    {{> subscribe}}
    <div class="clearfix"></div>
    {{> footer}}
    {{ghost_foot}}
    {{> google-analytics}}
    {{!> share/scripts/twitter}}
    
    <script src="{{asset "js/script.js"}}"></script>
  </body>
</html>
